
<div class="container">
  <div class="row">
<%= render 'books/menu', book: @book, user: @user %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
        <%= link_to user_path(@book_find.user.id) do %>
                      <p><%= image_tag @book_find.user.get_profile_image(100,100) %></p>
                      <span><%= @book_find.user.name %></span>
                   <% end %><br>
        </td>
        <td>
          <%= link_to @book_find.title,book_path(@book_find.id) %>
        </td>
        <td>
          <%= @book_find.body %>
        </td>
        <% if @book_find.user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@book_find.id), class: 'btn btn-success' %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book_find.id),method: :delete, class: 'btn btn-danger',"data-confirm" => "本当に削除しますか？" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
